@charset "utf-8";

body{
    background-color: rgb(211, 170, 248);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#principal{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 3, 126);
    border-radius: 50px;
    padding: 10px;
}

h1{
    color: rgb(136, 0, 255);
}

h2{
    color: rgb(68, 3, 126);
}

.basico{
    text-decoration: underline;
}
