@charset "utf-8";

body {
    margin: 0px;
}

body > header {
    background-color: #2E94CC;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 24px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

body > article {
    max-width: 850px;
    margin: auto;
    padding-top: 70px;
}

.post-author {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.share-post {
    size: 12px;
    line-height: 22px;
}

.uppercase {
    text-transform: uppercase;
}

#title-section {
    margin-bottom: 50px;
}

section > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 58px;
    margin: 0px;
}

.hero-image {
    margin: 50px 0px;
}

.hero-image > img {
    max-width: 100%;
}

.content-section {
    max-width: 680px;
    margin: auto;
}

iframe {
    margin: 50px 0px;
}